In [1]:
import pandas as pd
from os import listdir

In [2]:
# get all the file names in the directory
xl_files = [i for i in listdir() if ".xlsx" in i]
xl_files.remove('Facility overview - anonymized.xlsx')
xl_files

['Customer Master anonymized.xlsx',
 'Facility Master anonymized.xlsx',
 'Interfacility Orders anonymized.xlsx',
 'Parcel File.xlsx',
 'Product Master anonymized.xlsx',
 'Sales Orders anonymized.xlsx']

In [3]:
# print all excel files sheet names
dfs = {}
for xl in xl_files:
    print(xl)
    sheets = pd.ExcelFile(xl).sheet_names
    dfs[xl] = [i for i in sheets if "Currency" not in i]
dfs

Customer Master anonymized.xlsx
Facility Master anonymized.xlsx
Interfacility Orders anonymized.xlsx
Parcel File.xlsx
Product Master anonymized.xlsx
Sales Orders anonymized.xlsx

{'Customer Master anonymized.xlsx': ['Customer Master anonym'],
 'Facility Master anonymized.xlsx': ['AFMP'],
 'Interfacility Orders anonymized.xlsx': ['AIOP 1',
  'AIOP 2',
  'AIOP 3',
  'AIOP 4',
  'AIOP 5',
  'AIOP 6',
  'AIOP 7'],
 'Parcel File.xlsx': ['APAP 1',
  'APAP 2',
  'APAP 3',
  'APAP 4',
  'APAP 5',
  'APAP 6',
  'APAP 7',
  'APAP 8',
  'APAP 9',
  'APAP 10',
  'APAP 11',
  'APAP 12'],
 'Product Master anonymized.xlsx': ['APMP'],
 'Sales Orders anonymized.xlsx': ['ACOP 1',
  'ACOP 2',
  'ACOP 3',
  'ACOP 4',
  'ACOP 5',
  'ACOP 6',
  'ACOP 7',
  'ACOP 8',
  'ACOP 9',
  'ACOP 10',
  'ACOP 11',
  'ACOP 12',
  'ACOP 13',
  'ACOP 14',
  'ACOP 15',
  'ACOP 16',
  'ACOP 17',
  'ACOP 18',
  'ACOP 19',
  'ACOP 20',
  'ACOP 21',
  'ACOP 22',
  'ACOP 23',
  'ACOP 24',
  'ACOP 25',
  'ACOP 26',
  'ACOP 27',
  'ACOP 28',
  'ACOP 29',
  'ACOP 30',
  'ACOP 31']}

In [4]:
tables = []

for excel_file_path in dfs:
    # Read all sheets from the Excel file into a dictionary of DataFrames
    all_sheets = pd.read_excel(excel_file_path, sheet_name=dfs[excel_file_path])

    # Concatenate all DataFrames into one
    combined_dataframe = pd.concat(all_sheets.values(), ignore_index=True)

    tables.append(combined_dataframe)

E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
E:\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [5]:
len(tables)

6

In [6]:
dfs.keys()

dict_keys(['Customer Master anonymized.xlsx', 'Facility Master anonymized.xlsx', 'Interfacility Orders anonymized.xlsx', 'Parcel File.xlsx', 'Product Master anonymized.xlsx', 'Sales Orders anonymized.xlsx'])

In [7]:
table_dict = dict(zip(list(dfs.keys()), tables))

In [8]:
file = open("Interfacility Orders anonymized.xlsx", "r")  # Open the file
# Do operations on the file
file.close()  # Close the file

In [9]:
for t in table_dict:
    table_dict[t].to_csv(f"Tables Joined/{t[:-5]}.csv",index=False)

In [10]:
def get_column_category_values(table,column):
    print(table[column].value_counts())
    print("LENGTH:",len(table[column].unique()))

# Customer Master Anonymized

In [11]:
customers = tables[0]

In [12]:
customers.head()

,DCMU,DCSTKY,DCNAME,DCCITY,DCPC,DCCTRY,DCCTYP new,DCMSEG,DCCRDT
0,30,DCACU1,Client A COMPANY,FAIRHAVEN,MA 02719,US,CROSS MARKET CUSTOMER,CROSSMARKET,No credit code assigned
1,30,DRP33,Client A FRANCE SA,MONTATAIRE CEDEX,60765,FR,CROSS MARKET CUSTOMER,CROSSMARKET,No credit code assigned
2,30,DRP43,Client A AUSTRIA GMBH,PIESENDORF,5721,AT,CROSS MARKET CUSTOMER,CROSSMARKET,No credit code assigned
3,30,DRP44,Client A LTD,CAMBS,PE27 3LU,GB,CROSS MARKET CUSTOMER,CROSSMARKET,No credit code assigned
4,30,DRP45,Client A DENMARK APS,ARHUS N,8200,DK,CROSS MARKET CUSTOMER,CROSSMARKET,No credit code assigned

In [13]:
get_column_category_values(customers,"DCMU")

44    6649
49    4560
33    1957
46    1023
35     983
34     967
43     951
45     882
39     723
30     616
31     510
58     403
47     312
Name: DCMU, dtype: int64
LENGTH: 13

In [14]:
# CUSTOMER KEY
get_column_category_values(customers,"DCSTKY")

MU49      9
MU44      9
MU45      8
MU30      8
MU31      8
         ..
02016F    1
02016E    1
02016D    1
02016C    1
999862    1
Name: DCSTKY, Length: 19757, dtype: int64
LENGTH: 19758

In [15]:
# CUSTOMER NAME
get_column_category_values(customers,"DCNAME")

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX    606
$$ ACCOUNT CLOSED $$               59
XYKARSTADT WARENHAUS GMBH          48
$$EDINBURGH WOOLLEN MILL$$BAD      39
A                                  23
                                 ...
$$ MR C BARRETT                     1
$$MR R DONE$$                       1
$$GARETH DICK$$                     1
$$ MR S ROOKE                       1
Client A AB / SEED SAMPLES          1
Name: DCNAME, Length: 17586, dtype: int64
LENGTH: 17587

In [16]:
# CITY 
get_column_category_values(customers,"DCCITY")

.                 1210
SURREY             252
IDSTEIN            221
KENT               191
CAMBRIDGESHIRE     178
                  ...
MOLD                 1
WARWKS.              1
ILLIES               1
UPMINSTER            1
EGTVED               1
Name: DCCITY, Length: 6012, dtype: int64
LENGTH: 6013

In [17]:
# CUSTOMER POSTAL CODE DCPC
get_column_category_values(customers,"DCPC")

PE27 3LU    337
.           333
65510       222
21376        78
5704 BS      65
           ...
NR20 3JZ      1
IG6 3JA       1
SL0 0BG       1
HA6 1HN       1
TN33 0LH      1
Name: DCPC, Length: 9285, dtype: int64
LENGTH: 9286

In [18]:
# CUSTOMER COUNTRY DCCTRY
get_column_category_values(customers,"DCCTRY")

GB    6505
DE    3483
FR    1570
NL    1098
SE    1019
IE     987
ES     923
DK     888
AT     884
IT     785
FI     412
CZ     334
NO     318
PT     193
BE     170
SK      67
IC      54
HU      49
SI      49
PL      39
LU      17
HR      13
RO      13
BG      11
AU       9
AD       6
SA       5
US       3
LT       3
EE       2
AX       2
MT       2
CY       2
KR       2
EL       1
NZ       1
HK       1
SC       1
LV       1
GR       1
SM       1
SG       1
Name: DCCTRY, dtype: int64
LENGTH: 43

In [19]:
# CUSTOEMR TYPE DCCTYP new	
get_column_category_values(customers,"DCCTYP new")

SHOP TYPE 3              10185
SHOP TYPE 1               2568
PERSONALIZED MATERIAL     1080
SPORT ALLOWANCE            658
TRACK                      554
DEPARTMENT STORE           468
PROMOTION                  445
SHOP TYPE 2                438
DISTRIBUTOR / EXPORT       429
MISC                       402
INTERCOMPANY               361
MAIL ORDER                 356
OWN USE                    179
INTERNET ACCOUNT           165
CROSS MARKET CUSTOMER      137
DIRECT TO CONSUMER          30
PLAYER PROMOTION            25
Name: DCCTYP new, dtype: int64
LENGTH: 18

In [20]:
# CUSTOMER SEGMENT DCMSEG
get_column_category_values(customers,"DCMSEG")

HOME                  15814
PROMOTIONS             1709
EXPORT                  429
INTERCOMPANY            361
CROSSMARKET             137
DIRECT TO CONSUMER       30
Name: DCMSEG, dtype: int64
LENGTH: 7

In [21]:
# CUSTOMER CREDIT DCCRDT
get_column_category_values(customers,"DCCRDT")

Customer on stop           6176
Hold every order           5626
Hold if 30 days past       4337
Hold if 15 days past       2918
No credit code assigned    1340
Hold if 60 days past         93
Hold if 45 days past         21
Hold if 75 days past         16
Hold if 90 days past          4
Hold if 135 days past         3
Hold if 120 days past         2
Name: DCCRDT, dtype: int64
LENGTH: 11

In [22]:
# EMPTY VALUES (COUNTED) FOR EACH COLUMN
customers.isna().sum()

DCMU             0
DCSTKY           1
DCNAME           1
DCCITY           6
DCPC          1437
DCCTRY         611
DCCTYP new    2056
DCMSEG        2056
DCCRDT           0
dtype: int64

In [23]:
# EMPTY VALUES (%) FOR EACH COLUMN
customers.isna().mean()*100

DCMU           0.000000
DCSTKY         0.004869
DCNAME         0.004869
DCCITY         0.029217
DCPC           6.997468
DCCTRY         2.975263
DCCTYP new    10.011687
DCMSEG        10.011687
DCCRDT         0.000000
dtype: float64

# Facility Master Anonymized

In [24]:
facilities = tables[1]

In [25]:
facilities.head()

,DFMU,DFFACI,DFNAME,DFTYPE,DFCITY,DFPC,DFCTRY,Receipt Warehouse
0,31,ASI01,supplier1,Supplier,BRILHANTISMO V19,MACAU,NaN,NaN
1,31,BALLS,supplier2,Supplier,XXX,XXX,NaN,NaN
2,31,CACC,supplier3,Supplier,XXX,XXX,NaN,NaN
3,31,CBAG,supplier4,Supplier,XXX,XXX,NaN,NaN
4,31,CCLUB,supplier5,Supplier,XXX,XXX,NaN,NaN

In [26]:
# FACILITY ?
get_column_category_values(facilities, "DFMU")

44    3417
31     473
Name: DFMU, dtype: int64
LENGTH: 2

In [27]:
# FACILITY CODE?
get_column_category_values(facilities, "DFFACI")

ASI01     2
FAY01     2
GLOVES    2
JYL01     2
MOR01     2
         ..
DYN02     1
EAC01     1
EAG01     1
EAG02     1
80        1
Name: DFFACI, Length: 3861, dtype: int64
LENGTH: 3861

In [28]:
# FACILITY NAME
get_column_category_values(facilities, "DFNAME")

Warehouse GB                     3
CARSTOCK WAREHOUSE               2
supplier2596                     1
supplier2584                     1
supplier2585                     1
                                ..
supplier1301                     1
supplier1302                     1
supplier1303                     1
supplier1304                     1
Eurpean League Warehouse GB 2    1
Name: DFNAME, Length: 3887, dtype: int64
LENGTH: 3887

In [29]:
# FACILITY TYPE
get_column_category_values(facilities, "DFTYPE")

Supplier     3820
Warehouse      70
Name: DFTYPE, dtype: int64
LENGTH: 2

In [30]:
# FACILITY CITY
get_column_category_values(facilities, "DFCITY")

.                  603
CAMBS              138
LONDON              96
CAMBRIDGE           88
HUNTINGDON          52
                  ...
BUCHUN CITY          1
PAIGNTON, DEVON      1
FAREHAM,             1
GO DAU DISTRICT      1
C1                   1
Name: DFCITY, Length: 1347, dtype: int64
LENGTH: 1348

In [31]:
# FACILITY POSTAL CODE
get_column_category_values(facilities, "DFPC")

.             787
X              55
PE27 3LU       29
..             28
HONG KONG      19
             ...
G2 1DY          1
60008-4242      1
CA 94804        1
MK11 3JB        1
NN1 8RA         1
Name: DFPC, Length: 2500, dtype: int64
LENGTH: 2501

In [32]:
# FACILITY COUNTRY
get_column_category_values(facilities, "DFCTRY")

GB    1320
NL     120
US      49
TW      18
KR       7
HK       5
SE       5
DE       5
CN       4
FR       4
JP       3
ID       2
IE       2
TH       2
DK       2
AT       2
ZA       1
MY       1
IT       1
Name: DFCTRY, dtype: int64
LENGTH: 20

In [33]:
# FACILITY RECEIPT WAREHOUSE
get_column_category_values(facilities, "Receipt Warehouse")

Warehouse GB    66
Warehouse NL     4
Name: Receipt Warehouse, dtype: int64
LENGTH: 3

In [34]:
facilities.isna().sum()

DFMU                    0
DFFACI                  0
DFNAME                  0
DFTYPE                  0
DFCITY                 49
DFPC                   48
DFCTRY               2337
Receipt Warehouse    3820
dtype: int64

The column Receipt warehouse is only filled in when the facility type is warehouse (70 times)

In [35]:
facilities.isna().mean()*100

DFMU                  0.000000
DFFACI                0.000000
DFNAME                0.000000
DFTYPE                0.000000
DFCITY                1.259640
DFPC                  1.233933
DFCTRY               60.077121
Receipt Warehouse    98.200514
dtype: float64

# Interfacility Orders anonymized

In [36]:
int_orders = tables[2]

In [37]:
int_orders.head()

   DIMU  DIFFAC   DIIOID          DITYPE DITFAC    DIPART  DIQTY DIIUM  DIRDAT
0    31  DCACU4  41156.0  Purchase order     NL  SKU21125     24    PR  220103
1    31  DCACU4  41156.0  Purchase order     NL  SKU21127     12    PR  220103
2    31  DCACU4  41156.0  Purchase order     NL  SKU21129     36    PR  220103
3    31  DCACU4  41156.0  Purchase order     NL  SKU21131     24    PR  220103
4    31  DCACU4  41156.0  Purchase order     NL  SKU21133     48    PR  220103

In [38]:
get_column_category_values(int_orders,"DIMU")

44    352755
31     56214
Name: DIMU, dtype: int64
LENGTH: 2

In [39]:
get_column_category_values(int_orders,"DIFFAC")

RC        151296
UK         67857
LG         47651
NL         21784
AP         13616
           ...
BJE01          1
NAI01          1
DCWEL2         1
ASP03          1
OCE01          1
Name: DIFFAC, Length: 138, dtype: int64
LENGTH: 138

In [40]:
get_column_category_values(int_orders,"DIIOID")

480673.000    952
633041.000    640
612662.000    616
41754.000     536
10431.000     498
             ...
245147.002      1
245147.003      1
245147.004      1
245147.005      1
912213.000      1
Name: DIIOID, Length: 272934, dtype: int64
LENGTH: 272934

In [41]:
get_column_category_values(int_orders,"DITYPE")

Work order             267341
Purchase order          90142
Interbranch receipt     35604
Interbranch ship        15882
Name: DITYPE, dtype: int64
LENGTH: 4

In [42]:
get_column_category_values(int_orders,"DITFAC")

RC    172504
UK     61723
NL     55266
LG     48419
AP     18148
DV     12683
WB      8922
UA      7780
UC      6911
UN      5763
80      2167
DG      1668
S       1511
UD      1378
CG      1189
KA      1051
QM       759
NM       595
MY       185
NS       168
RK       141
CS        38
Name: DITFAC, dtype: int64
LENGTH: 22

In [43]:
get_column_category_values(int_orders,"DIPART")

SKU39997    30417
SKU74353     9896
SKU24710     8182
SKU40078     7776
SKU24911     7660
            ...
SKU75421        1
SKU70288        1
SKU68902        1
SKU1435         1
SKU78044        1
Name: DIPART, Length: 15758, dtype: int64
LENGTH: 15759

In [44]:
get_column_category_values(int_orders,"DIQTY")

 1        165806
 6         20277
 12        19845
 2         16154
 0         13948
           ...
-157           1
 688           1
 3720          1
 5964          1
 13104         1
Name: DIQTY, Length: 1465, dtype: int64
LENGTH: 1465

In [45]:
get_column_category_values(int_orders,"DIIUM")

EA     305551
DZ      50647
PR      41550
PK       4762
SIX      3848
ST       2171
SET       431
BX          9
Name: DIIUM, dtype: int64
LENGTH: 8

In [46]:
get_column_category_values(int_orders,"DIRDAT")

220329    4026
220115    3145
220328    3038
220330    2866
220420    2752
          ...
220418      30
220313      15
220625       9
220723       6
220521       4
Name: DIRDAT, Length: 285, dtype: int64
LENGTH: 285

In [47]:
int_orders.isna().sum()

DIMU      0
DIFFAC    0
DIIOID    0
DITYPE    0
DITFAC    0
DIPART    7
DIQTY     0
DIIUM     0
DIRDAT    0
dtype: int64

# Parcel File

In [48]:
parcels = tables[3]

In [49]:
parcels.head()

   DAMU  DAORD#  DASUFX DACARR         DAPARN DACTRY DAFRTT  DASERC DASERD
0    31  106457       2    NLD  5228916320361     FR    XWK   101.0    NaN
1    31  106457       2    NLD  5228916320361     FR    XWK   101.0    NaN
2    31  106457       2    NLD  5228916320361     FR    XWK   101.0    NaN
3    31  112788       1    NLD  5228916309387     FR    XWK   101.0    NaN
4    31  112788       1    NLD  5228916309387     FR    XWK   101.0    NaN

In [50]:
# DELIVERY AREA??
get_column_category_values(parcels,"DAMU")

44    693385
31     33601
Name: DAMU, dtype: int64
LENGTH: 2

In [51]:
# DELIVERY ORDER NUMBER
get_column_category_values(parcels,"DAORD#")

0         5822
559377     297
393573     240
966840     192
646890     183
          ...
440133       1
440132       1
440131       1
440130       1
510310       1
Name: DAORD#, Length: 286853, dtype: int64
LENGTH: 286853

In [52]:
# SUFFIX
get_column_category_values(parcels,"DASUFX")

0     643258
1      51488
2      16020
3       6453
4       3544
5       1989
6       1283
7       1104
9        440
8        424
10       289
12       115
11        90
16        86
13        78
14        59
15        50
18        40
34        28
22        18
23        18
20        18
19        18
17        18
24        14
26         8
32         6
29         6
30         4
36         4
44         4
21         4
27         4
28         4
Name: DASUFX, dtype: int64
LENGTH: 34

In [53]:
# PARCEL CARRIER
get_column_category_values(parcels,"DACARR")

UKD    484448
NLD    208406
DTC     34132
Name: DACARR, dtype: int64
LENGTH: 3

In [54]:
# PARCEL NUMBER
get_column_category_values(parcels,"DAPARN")

5228916445205    33
5228916431432    20
5228916431382    20
5228916431088    20
5228916431089    20
                 ..
2286447833        1
2286448018        1
2286448260        1
2286448045        1
2286477107        1
Name: DAPARN, Length: 345434, dtype: int64
LENGTH: 345434

In [55]:
# PARCEL DESTINATION COUNTRY
get_column_category_values(parcels,"DACTRY")

GB    456399
DE     47355
IE     45166
SE     42559
FR     40136
NL     17628
ES     16361
DK     11320
CH     10890
FI      7443
BE      5928
IT      5594
AT      5526
NO      4675
CZ      3848
PT      2977
LU       725
PL       710
SK       526
EE       341
SI       264
IC       174
AD       112
HU        98
AX        63
LT        56
HR        53
RO        30
BG        29
Name: DACTRY, dtype: int64
LENGTH: 29

In [56]:
# FARE TYPE OR Freight Type
get_column_category_values(parcels,"DAFRTT")

STN    269119
XWK    250352
CUS     95736
B2B     81035
N       19935
NOO      1635
CMS       798
DLD       671
F0        425
DIA       389
NC        258
SAT       208
AWW       125
EU         81
AS         66
EUN        54
AW         29
SK         24
NO         24
STD        22
AWC        16
B2E        15
AWS        12
B2S         3
DK          3
AE          3
Name: DAFRTT, dtype: int64
LENGTH: 27

In [57]:
# SERVICE CODE OR SERVICE CATEGORY
get_column_category_values(parcels,"DASERC")

12.0     408278
101.0    208403
11.0      66926
19.0       4625
13.0       3772
14.0        520
16.0        327
155.0         3
Name: DASERC, dtype: int64
LENGTH: 9

In [58]:
# SERVICE DESCRIPTION
get_column_category_values(parcels,"DASERD")

           HELMOND          258
uage description transla    126
Name: DASERD, dtype: int64
LENGTH: 3

In [59]:
parcels.isna().sum()

DAMU           0
DAORD#         0
DASUFX         0
DACARR         0
DAPARN         0
DACTRY         0
DAFRTT      5948
DASERC     34132
DASERD    726602
dtype: int64

In [60]:
parcels.isna().mean() * 100

DAMU       0.000000
DAORD#     0.000000
DASUFX     0.000000
DACARR     0.000000
DAPARN     0.000000
DACTRY     0.000000
DAFRTT     0.818173
DASERC     4.695001
DASERD    99.947179
dtype: float64

# Product Master anonymized

In [61]:
products = tables[4]

In [62]:
products.head()

,DPMU,DPWH,DPPART,DPIUM,DPPUM,DPSUM,DPSAF,DPPLIN,DPPCLS,DPDESC,DPBRND,DPDIVN,DPPSTR,DPUSR3,DPVAS,DPCORG,DPWGTK,DPCOMV,DPCOGS,DPCURC
0,44,UK,SKU68030,EA,EA,EA,1.0,85,50,SKU68030,Brand A ACCESSORIES,NaN,VZAAAAA,C,NaN,NaN,0.200,NaN,19.3,£
1,44,UK,SKU68033,EA,EA,EA,1.0,SA,99,SKU68033,CONSUMABLES,NaN,DDAAAAA,C,NaN,NaN,0.012,NaN,0.0,£
2,44,UK,SKU68034,EA,EA,EA,1.0,SA,99,SKU68034,CONSUMABLES,NaN,DDAAAAA,C,NaN,NaN,0.012,NaN,0.0,£
3,44,UK,SKU68036,EA,EA,EA,1.0,SA,99,SKU68036,CONSUMABLES,NaN,DDAAAAA,C,NaN,NaN,0.413,NaN,0.0,£
4,44,UK,SKU68037,EA,EA,EA,1.0,SA,99,SKU68037,CONSUMABLES,NaN,DDAAAAA,C,NaN,NaN,0.032,NaN,0.0,£

In [63]:
# Dictionary containing column descriptions for the "Product Master Anonymized" table
product_master_columns = {
    'DPMU': 'Unit of Measure (e.g., EA for Each)',
    'DPWH': 'Warehouse Location',
    'DPPART': 'Product Part Number',
    'DPIUM': 'Item Unit of Measure',
    'DPPUM': 'Pricing Unit of Measure',
    'DPSUM': 'Shipping Unit of Measure',
    'DPSAF': 'Safety Stock Adjustment Factor',
    'DPPLIN': 'Planning Lead Time in Days',
    'DPPCLS': 'Product Class',
    'DPDESC': 'Product Description',
    'DPBRND': 'Product Brand',
    'DPDIVN': 'Product Division',
    'DPPSTR': 'Product Storage Location',
    'DPUSR3': 'User-Defined Field 3',
    'DPVAS': 'Value Added Service',
    'DPCORG': 'Organization Code',
    'DPWGTK': 'Product Weight (in a specific unit)',
    'DPCOMV': 'Cost of Goods Sold (COGS)',
    'DPCOGS': 'Cost of Goods Sold (Alternate)',
    'DPCURC': 'Currency Code'
}

In [64]:
for col in products.columns:
    print("#"*50)
    print(f'"{col}" {product_master_columns[col]}')
    get_column_category_values(products,col)
    print()

##################################################
"DPMU" Unit of Measure (e.g., EA for Each)
44    82259
31    81599
Name: DPMU, dtype: int64
LENGTH: 2

##################################################
"DPWH" Warehouse Location
UK    82259
NL    81599
Name: DPWH, dtype: int64
LENGTH: 2

##################################################
"DPPART" Product Part Number
SKU68030    2
SKU40530    2
SKU40588    2
SKU40587    2
SKU40586    2
           ..
SKU7776     1
SKU7777     1
SKU7778     1
SKU7779     1
SKU64433    1
Name: DPPART, Length: 82470, dtype: int64
LENGTH: 82470

##################################################
"DPIUM" Item Unit of Measure
EA     86387
PR     57349
DZ      5814
SET     5756
PK      5629
SIX     2013
ST       622
TB        99
ROL       95
BX        58
M         13
CTN       12
KG         8
CS         3
Name: DPIUM, dtype: int64
LENGTH: 14

##################################################
"DPPUM" Pricing Unit of Measure
EA     81002
PR     56749
DZ     12771
SET     5756
PK      5299
SIX     1365
ST       622
TB        99
ROL       95
BX        64
M         13
CTN       12
KG         8
CS         3
Name: DPPUM, dtype: int64
LENGTH: 14

##################################################
"DPSUM" Shipping Unit of Measure
EA     86413
PR     57317
DZ      5820
SET     5752
PK      5614
SIX     2031
ST       622
TB        99
ROL       95
BX        58
M         13
CTN       12
KG         8
CS         3
Name: DPSUM, dtype: int64
LENGTH: 15

##################################################
"DPSAF" Safety Stock Adjustment Factor
1.0000      156548
6.0000        2479
12.0000        693
2.0000         674
7.0000         515
3.0000         461
4.0000         409
0.2500         406
5.0000         252
8.0000         203
0.1666         176
9.0000         120
10.0000        113
1.2500          94
15.0000         74
11.0000         70
18.0000         68
16.0000         62
0.5000          52
14.0000         50
17.0000         44
13.0000         38
24.0000         38
0.0833          32
20.0000         31
19.0000         30
36.0000         26
1.7500          25
72.0000         14
48.0000         14
23.0000         10
28.0000          6
22.0000          6
0.8333           4
100.0000         4
50.0000          4
1.5000           3
29.0000          2
35.0000          2
0.6666           2
60.0000          2
32.0000          2
Name: DPSAF, dtype: int64
LENGTH: 42

##################################################
"DPPLIN" Planning Lead Time in Days
8M    19856
09    14866
8O    11263
8Q     7248
07     6806
      ...
80        3
19        2
31        2
HI        2
24        1
Name: DPPLIN, Length: 144, dtype: int64
LENGTH: 144

##################################################
"DPPCLS" Product Class
67    50901
60    48211
20    27575
50    12179
10     6695
40     6094
99     4884
55     3177
70     1783
80     1121
45      438
P2      233
P1      198
65      141
97       62
25       58
96       39
P6       38
P7       18
P4        6
P5        6
**        1
Name: DPPCLS, dtype: int64
LENGTH: 22

##################################################
"DPDESC" Product Description
SKU68030    2
SKU40530    2
SKU40588    2
SKU40587    2
SKU40586    2
           ..
SKU7776     1
SKU7777     1
SKU7778     1
SKU7779     1
SKU64433    1
Name: DPDESC, Length: 82470, dtype: int64
LENGTH: 82470

##################################################
"DPBRND" Product Brand
Brand B POLO SHIRTS        19856
Tools COMPONENTS           14866
Brand B knitted            11263
Brand B TROUSERS            7248
Ball customer packaging     6806
                           ...
C items                        4
Ball customized class 2        4
Brand C Customized             4
Brand A - tools 3              2
Brand C tools  set             1
Name: DPBRND, Length: 137, dtype: int64
LENGTH: 137

##################################################
"DPDIVN" Product Division
Series([], Name: DPDIVN, dtype: int64)
LENGTH: 1

##################################################
"DPPSTR" Product Storage Location
KZAAAAA    11259
NQBXABA     5960
EJFAAAA     5221
LZAAAAA     4927
KZBAAAA     4207
           ...
DAAAFAG        1
DAAAFAA        1
UVCMAAA        1
EBBKEAB        1
KDLBM          1
Name: DPPSTR, Length: 42995, dtype: int64
LENGTH: 42995

##################################################
"DPUSR3" User-Defined Field 3
M    89673
C    73314
N       12
S        6
B        3
D        2
Name: DPUSR3, dtype: int64
LENGTH: 7

##################################################
"DPVAS" Value Added Service
Y    7124
Name: DPVAS, dtype: int64
LENGTH: 2

##################################################
"DPCORG" Organization Code
Series([], Name: DPCORG, dtype: int64)
LENGTH: 1

##################################################
"DPWGTK" Product Weight (in a specific unit)
1.0000    28755
0.2500    23633
0.3500    15918
0.5000    10470
1.5000     7320
          ...
0.0780        1
0.1920        1
1.1375        1
3.9200        1
3.2400        1
Name: DPWGTK, Length: 366, dtype: int64
LENGTH: 366

##################################################
"DPCOMV" Cost of Goods Sold (COGS)
Series([], Name: DPCOMV, dtype: int64)
LENGTH: 1

##################################################
"DPCOGS" Cost of Goods Sold (Alternate)
0.00      31598
0.29       1565
128.25     1078
16.15       910
20.90       878
          ...
32.38         1
18.84         1
4.31          1
5.00          1
15.12         1
Name: DPCOGS, Length: 4195, dtype: int64
LENGTH: 4195

##################################################
"DPCURC" Currency Code
£    102364
Name: DPCURC, dtype: int64
LENGTH: 2

In [65]:
products.isna().sum()

DPMU           0
DPWH           0
DPPART         0
DPIUM          0
DPPUM          0
DPSUM          1
DPSAF          0
DPPLIN         0
DPPCLS         0
DPDESC         0
DPBRND         0
DPDIVN    163858
DPPSTR         0
DPUSR3       848
DPVAS     156734
DPCORG    163858
DPWGTK         0
DPCOMV    163858
DPCOGS         0
DPCURC     61494
dtype: int64

In [66]:
products.isna().mean()*100

DPMU        0.000000
DPWH        0.000000
DPPART      0.000000
DPIUM       0.000000
DPPUM       0.000000
DPSUM       0.000610
DPSAF       0.000000
DPPLIN      0.000000
DPPCLS      0.000000
DPDESC      0.000000
DPBRND      0.000000
DPDIVN    100.000000
DPPSTR      0.000000
DPUSR3      0.517521
DPVAS      95.652333
DPCORG    100.000000
DPWGTK      0.000000
DPCOMV    100.000000
DPCOGS      0.000000
DPCURC     37.528836
dtype: float64

# Sales Orders anonymized

In [67]:
sales = tables[5]

In [68]:
sales.head()

,DOMU,DOWH,DOWHD,DOSTKY,DOSTMU,DOORD#,DOSUFX,DOPART,DOQTY,DOSUM,DOORIG,DODTYP,DODYMD,DOSVAL,DOCURC,DOCUST,VALUE €
0,31,NL,WarehouseNL1,312160,30,100068,2,SKU71623,1,EA,NaN,NaN,220411,0.0075,EU,NaN,0.006919
1,31,NL,WarehouseNL1,334000,33,100076,0,SKU45337,1,PR,NaN,NaN,220113,16.3875,EU,NaN,15.117469
2,31,NL,WarehouseNL1,32A600,33,100132,0,SKU41144,2,EA,OASIS,Y,220304,24.1425,EU,NaN,22.271456
3,31,NL,WarehouseNL1,32A600,33,100132,0,SKU41145,1,EA,OASIS,Y,220304,12.0750,EU,NaN,11.139188
4,31,NL,WarehouseNL1,32A600,33,100132,0,SKU41151,1,EA,OASIS,Y,220304,12.0750,EU,NaN,11.139188

In [69]:
# Dictionary containing column descriptions for the "Sales Orders Anonymized" table
sales_orders_columns = {
    'DOMU': 'Customer Code',
    'DOWH': 'Warehouse Location',
    'DOWHD': 'Warehouse Description',
    'DOSTKY': 'Stock Type Key',
    'DOSTMU': 'Stock Type Measurement Unit',
    'DOORD#': 'Order Number',
    'DOSUFX': 'Order Suffix',
    'DOPART': 'Product Part Number',
    'DOQTY': 'Order Quantity',
    'DOSUM': 'Order Summary',
    'DOORIG': 'Order Origin',
    'DODTYP': 'Order Type',
    'DODYMD': 'Order Date (Year-Month-Day)',
    'DOSVAL': 'Sales Order Value',
    'DOCURC': 'Currency Code',
    'DOCUST': 'Customer Code (Alternate)',
    'VALUE €': 'Sales Order Value in Euros'
}

In [70]:
for col in sales.columns:
    print("#"*50)
    print(f'"{col}" {sales_orders_columns[col]}')
    get_column_category_values(sales,col)
    print()

##################################################
"DOMU" Customer Code
44    1196184
31     780028
Name: DOMU, dtype: int64
LENGTH: 2

##################################################
"DOWH" Warehouse Location
NL    778552
UK    768822
RC    164437
DV     62108
LG     50826
QM     39405
UA     25037
S      15557
80     15388
AP     11883
WB     10356
DG      9699
UN      9004
UC      6273
CG      2056
MJ      2004
KA      1835
UD      1390
NM       726
NS       644
MY       187
CS        22
RK         1
Name: DOWH, dtype: int64
LENGTH: 23

##################################################
"DOWHD" Warehouse Description
WarehouseNL1                      778471
Warehouse GB MAIN                 768822
RAW MATERIALs-                    164437
DTC Warehouse GB                   62108
Customization warehouse GB1        50826
Customization warehouse GB2        39405
DTC offsite warehouse GB3          25037
Warehouse GB samples               15557
European League Warehouse GB 2     15388
Off site customization GB          11883
CARSTOCK WAREHOUSE                 10356
DTC offsite warehouse GB2           9699
Warehouse GB NAT                    9004
Warehouse GB tools                  6273
Warehouse GB                        2078
Eurpean League Warehouse GB 1       1835
Warehouse GB LOG                    1390
WarehouseNL3                         726
Warehouse NL samples                 644
WarehouseNL2                         187
RAW MATERIAL - BRAND C                 1
Name: DOWHD, dtype: int64
LENGTH: 22

##################################################
"DOSTKY" Stock Type Key
44DTC0    36002
44DTC1    20265
06377B    18994
021260    13706
49DTC0    12393
          ...
510444        1
999802        1
458056        1
040840        1
433532        1
Name: DOSTKY, Length: 6589, dtype: int64
LENGTH: 6590

##################################################
"DOSTMU" Stock Type Measurement Unit
44    929350
33    249077
49    226714
46    153484
34     99371
35     89321
30     66521
45     41811
58     37339
39     23824
47     21228
43     18429
31     14074
27      5669
Name: DOSTMU, dtype: int64
LENGTH: 14

##################################################
"DOORD#" Order Number
116232    841
158401    649
159748    645
158069    624
225225    622
         ...
378049      1
537866      1
537867      1
378048      1
100068      1
Name: DOORD#, Length: 423699, dtype: int64
LENGTH: 423699

##################################################
"DOSUFX" Order Suffix
0     1659064
1      202306
2       59826
3       25367
4       12612
5        6171
6        3690
7        2281
8        1252
9         875
10        642
11        441
12        375
13        255
14        199
15        123
16         96
18         88
17         77
24         63
20         56
19         56
21         47
22         45
23         34
25         31
28         22
26         21
27         19
33         13
29         12
30         10
34          8
31          8
32          6
38          5
35          3
36          3
41          3
44          2
37          1
39          1
40          1
42          1
43          1
Name: DOSUFX, dtype: int64
LENGTH: 45

##################################################
"DOPART" Product Part Number
SKU39997    30210
SKU74465    13322
SKU72983    13106
SKU74353     9987
SKU75488     9688
            ...
SKU65771        1
SKU65770        1
SKU27681        1
SKU36379        1
SKU62878        1
Name: DOPART, Length: 17751, dtype: int64
LENGTH: 17752

##################################################
"DOQTY" Order Quantity
1      1113764
2       229724
6       173980
12       95155
3        82290
        ...
464          1
496          1
661          1
349          1
265          1
Name: DOQTY, Length: 704, dtype: int64
LENGTH: 704

##################################################
"DOSUM" Order Summary
EA     1085098
PR      584483
DZ      155905
SIX      85483
PK       58818
ST        5921
BX         494
SET         10
Name: DOSUM, dtype: int64
LENGTH: 8

##################################################
"DOORIG" Order Origin
OASIS    969873
B2B      215727
SHEET    115962
DTC       57364
EDI       30858
XM         2202
Name: DOORIG, dtype: int64
LENGTH: 7

##################################################
"DODTYP" Order Type
Y    706728
S     46535
G     29336
3     28491
L     14999
P     11000
B      9706
2      7597
A      5662
K      3810
D       996
1       739
X       435
C        41
F         1
Name: DODTYP, dtype: int64
LENGTH: 16

##################################################
"DODYMD" Order Date (Year-Month-Day)
220210    20311
220104    20252
220310    18146
220308    17230
220309    17117
          ...
220924        9
220703        2
220416        1
220522        1
220410        1
Name: DODYMD, Length: 295, dtype: int64
LENGTH: 295

##################################################
"DOSVAL" Sales Order Value
0.0000      82003
69.1875     34063
62.7750     11847
0.0075      11355
20.3550     10996
            ...
501.3000        1
440.2800        1
566.6850        1
577.2375        1
613.0725        1
Name: DOSVAL, Length: 61589, dtype: int64
LENGTH: 61589

##################################################
"DOCURC" Currency Code
£     898920
EU    824933
SK    158169
DK     43253
NK     21789
$      20607
R       8541
Name: DOCURC, dtype: int64
LENGTH: 7

##################################################
"DOCUST" Customer Code (Alternate)
Y    266250
Name: DOCUST, dtype: int64
LENGTH: 2

##################################################
"VALUE €" Sales Order Value in Euros
0.000000      82003
63.825469     34063
57.909937     11847
0.006919      11355
18.777487     10996
              ...
462.449250        1
406.158300        1
522.766912        1
532.501594        1
565.559381        1
Name: VALUE €, Length: 61589, dtype: int64
LENGTH: 61589

In [71]:
sales.isna().sum()

DOMU             0
DOWH             0
DOWHD         2085
DOSTKY        2085
DOSTMU           0
DOORD#           0
DOSUFX           0
DOPART           7
DOQTY            0
DOSUM            0
DOORIG      584226
DODTYP     1110136
DODYMD           0
DOSVAL           0
DOCURC           0
DOCUST     1709962
VALUE €          0
dtype: int64

In [72]:
sales.isna().mean()*100

DOMU        0.000000
DOWH        0.000000
DOWHD       0.105505
DOSTKY      0.105505
DOSTMU      0.000000
DOORD#      0.000000
DOSUFX      0.000000
DOPART      0.000354
DOQTY       0.000000
DOSUM       0.000000
DOORIG     29.562921
DODTYP     56.174945
DODYMD      0.000000
DOSVAL      0.000000
DOCURC      0.000000
DOCUST     86.527255
VALUE €     0.000000
dtype: float64